table {
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

tbody {
  input[type="text"], input[type="number"], input[type="time"] {
    width: 110px;
  }
}

input.form-control {
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
}

table {
  tbody{
    tr {
      &:hover {
        background-color: #BBBBBB;
      }
    }
  }
}
