<div><a routerLink="/"><input type="button" value="На главную"></a></div>
<div><a routerLink="/me"><input type="button" value="Личный кабинет"></a></div>

<form id="addTripForm">
  <input type="text" placeholder="Время отправления" [(ngModel)]="departureTime" name="departureTime">
  <input type="text" placeholder="Пункт отправления" [(ngModel)]="departurePoint" name="departurePoint">
  <input type="text" placeholder="Пункт прибытия" [(ngModel)]="arrivalPoint" name="arrivalPoint">
  <input type="text" placeholder="Стоимость билета в $" [(ngModel)]="price" name="price">
  <input type="button" value="Добавить рейс" (click) = addTrip()>
</form><br>

<table>
  <tr *ngFor="let trip of trips">
    <td>{{trip.departureTime}}</td>
    <td>{{trip.departurePoint}} - {{trip.arrivalPoint}}</td>
    <td>{{ trip.price | currency:'USD' }}</td>
  </tr>
</table>
