@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.wrap {
  input[type='button'], input[type='submit'], input[type='reset'], button {
    margin: {
      bottom: 5px;
    }
  }
}

body {
  padding: 5px;
}
